.container{
    height: 500px;
    width: 500px;
    border: 3px solid red;
    background-color: green;

    display: flex;
}
.box{
    background-color: aquamarine;
    border: 2px solid black;
    height: 150px;
    width: 150px;
    margin: 20px;

    /* transition: 3s; */
    /* transition: all 1s ease 1s; */
    /* transition: transform 3s ease 1s; */
    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease;
    transition-delay: 3s;
}
.box:hover{
    background-color: bisque;
    /* transform: rotate(45deg); */
    transform: scale(2) translateX(501px) rotate(360deg) ;
}