.container{
   border:1px solid red ;
   background-color: aquamarine; 
   height: 700px;
   width: 400px;  
   display: grid;
   grid-template-columns: 100px 100px 100px;
   grid-template-rows: 100px 100px ;
   grid-gap: 10px;
}
.box{
    background-color: blueviolet;
}