div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
}
.translated{
    transform:perspective(15px) translateZ(-10px);
}
.scale{
    margin-left: 300px;
    /* transform: perspective(350px) scale(2) rotateX(35deg) rotateY(35deg) rotateZ(20deg);*/
    transform: rotateZ(20deg);
} 